<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="VeterinariaDB" connectionString="Data Source=DESKTOP-E4Q3D0B ; Database= VaterinariaDB;Integrated Security=true;
			 Initial Catalog=VeterinariaDB" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>